.header {
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 30px 15px;
    transition: all ease-in-out .6s;
    .header-content {
        max-width: 1720px;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    button {
        display: block;
        align-items: center;
    }
}

.ul-menu {
    display: flex;
    font-family: @font-fira;
    font-size: 22px;
}

.menu-item {
    padding: 10px 20px;

    a {
        color: #fff;
    }
}
.shopping-cart {
    position: relative;
    color: #fff;
    font-size: 23px;
    .shopping-cart-amount {
        position: absolute;
        top: -5px;
        right: -5px;
        background: #fff;
        color: #111;
        width: 18px;
        height: 18px;
        text-align: center;
        border-radius: 100%;
        font-size: 15px;
    }
}

.menu-icon{
    color: #fff;
    margin-left: 40px;
    font-size: 25px;
}

.ul-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 0;
    width: 0;
    height: 500px;
    transition: all ease-in-out .4s
}
@media screen and (max-width:600px){
    // .header .header-content {
    //     flex-direction: column;
    //     position: relative;
    // }

    // .menu {
    //     width: 100%;
    //     button {
    //         display: block;
    //     }
    // }

    // .ul-menu {
    //     flex-direction: column;
    //     width: 100%;
        
    // }
    // .menu-item {
    //     padding: 10px 20px;
    //     text-align: center;
    // }
    
    // .shopping-cart {
    //     // display: block;
    //     position: absolute;
    //     top: 20px;
    //     left: 10px;
    // }
    // .menu-icon {
    //     // display: block;
    //     position: absolute;
    //     top: 20px;
    //     right: 0;
    // }

    
}