#intro-service {
    text-align: center;
    font-size: 18px;
    .service {
        padding: 30px 0px 10px 0px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #efefef;
        .row {
            justify-content: space-between;
        }
    }
    .title-service {
        text-transform: uppercase;
        color: @color-text-dark;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    .title-info{
        color: @color-text-gray;
        font-size: 14px;
        font-family: @font-fira;
    }
    .intro {
        padding: 118px 0;
        line-height: 45px;
        letter-spacing: 2px;
        .row {
            justify-content: center;
        }
        .intro-text{
            font-size: 28px;
        }
        
    }
    
}